<div class="form-group">
    <label class="label-text">{{skill}}</label>
    <div class="col-2">
        <button class="request-roll" style="width: 32px"
                data-talent="{{skill}}"
                data-request-index="{{id}}"
                title="Probe anfordern" type="button">
            <i class="fas fa-dice-d20"></i></button>
        <select name="modifier-{{id}}">
            {{skill_options (localize (concat "SKILLdescr." skill))}}
        </select>
    </div>
</div>
