<form>
    <div class="box header">
        {{#ifeq general.merchantType "tavern" }}
            <h1>“ {{general.tavern-name}} ”</h1>
        {{else}}
            <h1>{{actor.data.details.career.value}}</h1>
        {{/ifeq}}

        <div class="col-2" style="grid-template-columns: 50px auto">
            <img src="{{actor.img}}" style="border: none; width: 48px;"/>
            <div style="padding-top: 10px">
                <b>{{actor.name}}</b>
                <i>{{actor.data.details.gender.value}}</i>
                <i>{{actor.data.details.age.value}} Jahre</i>
                <p>{{actor.data.details.species.value}}</p>
            </div>
        </div>
    </div>

    {{#ifeq general.merchantType "tavern" }}
        <h2>Speisekarte</h2>
    {{else}}
        <h2>In der Auslage</h2>
    {{/ifeq}}

    {{#each supply as |category n|}}
        {{#with category}}
            <div class="inner box">
                <h3>{{categoryName}}</h3>
                <div class="col-3" style="grid-template-columns: 32px auto 100px">

                    {{#each current }}
                        {{#ifeq ../../general.merchantType "tavern" }}
                            {{#if visible}}
                                <div><img src="{{item.img}}" style="width:24px; border: none"/></div>
                                <div>{{item.name}}</div>
                                <div style="text-align: right">{{{money price}}}</div>
                            {{/if}}
                        {{else}}
                            <div><img src="{{item.img}}" style="width:24px; border: none"/></div>
                            <div><a class="toggle-description"
                                    data-target="#detail-{{item._id}}"><i class="fas fa-info-circle"></i>
                                {{item.name}}</a></div>
                            <div style="text-align: right">
                                {{#if visible}}
                                    {{{money price}}}
                                {{else}}
                                    ???
                                {{/if}}
                            </div>
                            <div id="detail-{{item._id}}" class="inner box hidden"
                                 style="grid-column: 1 / span 3">
                                {{{item.data.description.value}}}
                            </div>
                        {{/ifeq}}
                    {{/each}}
                    <!--

                        {{#each_when current "visible" true}}
                            <div><img src="{{item.img}}" style="width:24px; border: none"/></div>

                            {{#if item.data.description.value}}
                        {{#ifeq ../../general.merchantType "tavern" }}
                                    <div>{{item.name}}</div>
                                    <div style="text-align: right">{{{money price}}}</div>
                                {{else}}
                                    <div><a class="toggle-description"
                                            data-target="#detail-{{item._id}}"><i class="fas fa-info-circle"></i>
                                        {{item.name}}</a></div>
                                    <div style="text-align: right">{{{money price}}}</div>
                                    <div id="detail-{{item._id}}" class="inner box hidden"
                                         style="grid-column: 1 / span 3">
                                        {{{item.data.description.value}}}
                                    </div>
                                {{/ifeq}}
                    {{else}}
                                <div>{{item.name}}</div>
                                <div style="text-align: right">{{{money price}}}</div>
                            {{/if}}

                    {{/each_when}}-->
                </div>
            </div>
        {{/with}}
    {{/each}}
    <!--
    {{#ifeq general.merchantType "merchant" }}
        <div class="box header">
            <h2>Ankauf</h2>
            {{#ifeq general.buys.price "0"}}
                <b>Der Händler kauft keine Waren.</b>

            {{else}}
                &lt;!&ndash;Kauft Items zu einem Preis der Stufe {{general.buys.price}}&ndash;&gt;
                {{#each this.ownStuff}}
                    <div>
                        <img src="{{img}}" style="height: 32px"/>
                        <a class="add-to-offer" data-item-id="{{id}}">{{name}}</a>
                        {{data.price.value}}
        {{data.quantity.value}}
                        &lt;!&ndash;<textarea>{{stringify this}}</textarea>&ndash;&gt;
                    </div>
                {{/each}}
    {{/ifeq}}
            <div class="inner box header">
                <h2>Ausgewählt</h2>
                {{#each offeredStuff}}
        {{name}}
    {{/each}}

                <button class="sell-items">verkaufen</button>
            </div>
        </div>
    {{/ifeq}}-->


</form>
