<div class="tab general" data-tab="locations">

    <div class="box header">
        <h1 class="toggle" data-target="#region-categories-list">{{localize "MeisterSettings.RegionCategories"}}</h1>
        <div class="top-bar">
            <a class="insert-entry" data-path="region-categories-list"><i class="fas fa-plus-square"></i></a>
        </div>
        <p>{{localize "Help.Locations.RegionCategories"}}</p>
        <div id="region-categories-list">
            {{#each locations.regionCategories as |this n|}}
                <div class="inner box header">
                    <div class="top-bar">
                        <a class="sort-up"><i class="fas fa-sort-up"></i></a>
                        <a class="remove-entry"><i class="fas fa-trash-alt"></i></a>
                    </div>

                    <div class="form-group">
                        <label class="label-text">{{localize "MeisterSettings.Name"}}</label>
                        <input type="text" value="{{name}}" name="locations.regionCategories[{{n}}].name"/>
                    </div>
                    <div class="form-group">
                        <label class="label-text">{{localize "MeisterSettings.Key"}}</label>
                        <input type="text" value="{{key}}" name="locations.regionCategories[{{n}}].key"/>
                    </div>
                    <div class="form-group">
                        <label class="label-text">{{localize "MeisterSettings.DrawingStyle"}}</label>
                        <textarea name="locations.regionCategories[{{n}}].style" data-dtype="JSON">{{stringify style}}</textarea>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>


    <div class="box header">
        <h1 class="toggle" data-target="#biomes-list">{{localize "MeisterSettings.Biomes"}}</h1>
        <div class="top-bar">
            <a class="insert-entry" data-path="biomes-list"><i class="fas fa-plus-square"></i></a>
        </div>
        <p>{{localize "Help.Locations.Biomes"}}</p>
        <div id="biomes-list">
            {{#each locations.biomes as |this n|}}
                <div class="inner box header">
                    <div class="top-bar">
                        <a class="sort-up"><i class="fas fa-sort-up"></i></a>
                        <a class="remove-entry"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="form-group">
                        <label class="label-text">{{localize "MeisterSettings.Name"}}</label>
                        <input type="text" value="{{name}}" name="locations.biomes[{{n}}].name"/>
                    </div>
                    <div class="form-group">
                        <label class="label-text">{{localize "MeisterSettings.Key"}}</label>
                        <input type="text" value="{{key}}" name="locations.biomes[{{n}}].key"/>
                    </div>
                    <div class="form-group">
                        <label class="label-text">{{localize "MeisterSettings.Herbmod"}}</label>
                        <input type="text" value="{{herbmod}}" name="locations.biomes[{{n}}].herbmod"/>
                    </div>
                    <div class="form-group">
                        <label class="label-text">{{localize "MeisterSettings.ImagePath"}}</label>
                        <div class="form-fields">
                            {{filePicker target=(concat 'locations.biomes[' (concat n '].img')) type="imagevideo"}}
                            <input class="image" type="text" name="locations.biomes[{{n}}].img"
                                   placeholder="path/image.png" value="{{img}}"/>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>


    <div class="inner box header">
        <h2>{{localize "MeisterSettings.Regions"}}</h2>
        <div class="top-bar">
            <a class="toggle {{#unless _expandedTargets.regions}}show{{/unless}}"
               data-target=".regions"><i class="fab fa-js"></i></a>
        </div>
        <p>{{localize "Help.Locations.Regions"}}</p>
        <div class="regions {{#unless _expandedTargets.regions}}hidden{{/unless}}">
            <textarea class="large" name="locations.regions" data-dtype="JSON">{{stringify locations.regions}}</textarea>
        </div>
    </div>


</div>


