<div class="tab general" data-tab="locations">

    <div class="box header">
        <h1>Regionen</h1>


        <label class="label-text">{{localize "MeisterSettings.Pack"}}</label>
        <select name="locations.locationsCollection">
            {{#select locations.locationsCollection}}
                <option></option>
                {{#each itemPacks}}
                    <option value="{{collection}}">{{metadata.label}} ({{collection}})</option>
                {{/each}}
            {{/select}}
        </select>
        <button>update from pack</button>


        <div class="box header">

            <h2>{{#toggle "region-categories-list" _expandedTargets}}{{localize
                    "MeisterSettings.RegionCategories"}}{{/toggle}}</h2>
            <div class="top-bar">
                <a class="insert-entry" data-path="region-categories-list"><i class="fas fa-plus-square"></i></a>
            </div>
            <p>{{localize "Help.Locations.RegionCategories"}}</p>
            {{#collapsible "region-categories-list" _expandedTargets}}
                <div id="region-categories-list">
                    {{#each ../locations.regionCategories as |this n|}}
                        <div class="inner box header">
                            <div class="top-bar">
                                <a class="sort-up"><i class="fas fa-sort-up"></i></a>
                                <a class="remove-entry"><i class="fas fa-trash-alt"></i></a>
                            </div>
                            <div class="form-group">
                                <label class="label-text">{{localize "MeisterSettings.Name"}}</label>
                                <input type="text" value="{{name}}" name="locations.regionCategories[{{n}}].name"/>
                            </div>
                            <div class="form-group">
                                <label class="label-text">{{localize "MeisterSettings.Key"}}</label>
                                <input type="text" value="{{key}}" name="locations.regionCategories[{{n}}].key"/>
                            </div>
                            <div class="form-group">
                                <label class="label-text">{{localize "MeisterSettings.DrawingBackground"}}</label>
                                <select name="locations.regionCategories[{{n}}].style.fillColor">
                                    {{#select style.fillColor}}
                                        <option></option>
                                        <option value="random">zufällige Farbe</option>
                                        <option value="#ff0000">rot</option>
                                        <option value="#00ff00">grün</option>
                                        <option value="#0000ff">blau</option>
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/collapsible}}
        </div>
    </div>

</div>


