<div class="tab general" data-tab="nsc-factory">
    <div class="box header">
        <h1>NSC Fabrik</h1>
        <div class="inner box header">
            <div class="form-group">
                <label class="label-text">{{localize "MeisterSettings.Pack"}}</label>
                <select name="nsc-factory.settings.baseActorCollection"
                        class="autocomplete" data-targets="name folder">
                    {{#select nsc-factory.settings.baseActorCollection}}
                        <option></option>
                        {{#each actorPacks}}
                            <option value="{{collection}}">{{metadata.label}} ({{collection}})</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "MeisterSettings.Folder"}}</label>
                <input type="text" value="{{nsc-factory.settings.folderName}}" name="nsc-factory.settings.folderName"/>
            </div>
            <div class="form-group">
                <label class="label-text">nach Erstellung</label>
                <div>
                    <input {{checked nsc-factory.settings.closeAfterGeneration}}
                            class="switch" id="closeAfterGeneration"
                            name="nsc-factory.settings.closeAfterGeneration" type="checkbox"/>
                    <label for="closeAfterGeneration"></label>
                    <label for="closeAfterGeneration">schließen</label>
                </div>
            </div>
        </div>

        <h1>{{localize "MeisterSettings.configuration"}}</h1>
        <p>{{localize "Help.nsc-factory.configuration"}}</p>
        <div class="inner box header">
            <h3>{{localize "MeisterSettings.archetypes"}}</h3>
            <div class="top-bar">
                {{#toggle "archetypes" _expandedTargets}}<i class="fab fa-js"></i>{{/toggle}}
            </div>
            <p>{{localize "Help.nsc-factory.archetypes"}}</p>
            {{#collapsible "archetypes" _expandedTargets}}
                <textarea class="large" name="nsc-factory.archetypes" data-dtype="JSON">{{stringify
                        ../nsc-factory.archetypes}}</textarea>
            {{/collapsible}}
        </div>
        <div class="inner box header">
            <h3>{{localize "MeisterSettings.species"}}</h3>
            <div class="top-bar">
                {{#toggle "species" _expandedTargets}}<i class="fab fa-js"></i>{{/toggle}}
            </div>
            <p>{{localize "Help.nsc-factory.species"}}</p>
            {{#collapsible "species" _expandedTargets}}
                <textarea class="large" name="nsc-factory.species" data-dtype="JSON">{{stringify
                        ../nsc-factory.species}}</textarea>
            {{/collapsible}}
        </div>
        <div class="inner box header">
            <h3>{{localize "MeisterSettings.gender"}}</h3>
            <div class="top-bar">
                {{#toggle "gender" _expandedTargets}}<i class="fab fa-js"></i>{{/toggle}}
            </div>
            <p>{{localize "Help.nsc-factory.gender"}}</p>
            {{#collapsible "gender" _expandedTargets}}
                <textarea class="large" name="nsc-factory.gender" data-dtype="JSON">{{stringify
                        ../nsc-factory.gender}}</textarea>
            {{/collapsible}}
        </div>
        <div class="inner box header">
            <h3>{{localize "MeisterSettings.fallbackData"}}</h3>
            <div class="top-bar">
                {{#toggle "fallbackData" _expandedTargets}}<i class="fab fa-js"></i>{{/toggle}}
            </div>
            <p>{{localize "Help.nsc-factory.fallbackData"}}</p>
            {{#collapsible "fallbackData" _expandedTargets}}
                <textarea class="large" name="nsc-factory.fallbackData" data-dtype="JSON">{{stringify
                        ../nsc-factory.fallbackData}}</textarea>
            {{/collapsible}}
        </div>
    </div>
</div>


</div>
