<div>
    <div class="col-3" style="grid-template-columns: 300px auto 310px">
        <div class="box header">
            <h2>Datenquelle</h2>
            <div class="col-2">
                <div style="padding-top: 8px"><i style="font-size:1.5em" class="fas fa-atlas"></i></div>
                <select name="datenquelle.compendium" data-source="collection">
                    {{#select dataSourceSelection}}
                        <option></option>
                        {{#each options.unlockedCollections}}
                            <option value="{{collection}}">{{metadata.label}} {{collection}}</option>
                        {{/each}}
                        {{#each options.lockedCollections}}
                            <option value="{{collection}}">(read-only) {{metadata.label}} {{collection}}</option>
                        {{/each}}
                    {{/select}}
                </select>
                <div style="padding-top: 8px"><i style="font-size:1.5em" class="fas fa-suitcase"></i></div>
                <select name="datenquelle.items" data-source="folder">
                    {{#select dataSourceSelection}}
                        <option></option>
                        {{#each options.itemFolders}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>


        <div class="box header">
            <h2>Verfügbarkeit <a class="calculate-current-rarity" title="Aktuelle Verfügbarkeit berechnen">
                <i class="fas fa-calculator"></i></a></h2>
            <div class="col-2" style="grid-template-columns: 70px auto;">
                <div class="inner box header">
                    <h3>allg</h3>
                    <a class="tag general">{{display_rarity currentTag.general
                                                            "&#10;Linksklick: +&#10;Rechtsklick: -"}}</a>
                </div>
                <div class="inner box header">
                    <h3><a class="pick-location" title="Regionen und Biome manuell auswählen">nach Ort <i
                            class="fab fa-wpforms"></i></a></h3>
                    {{#each currentTag.regions}}
                        <a class="tag" data-region-key="{{key}}">
                            {{display_rarity value "&#10;Linksklick: +&#10;Rechtsklick: -"}}
                            {{name}}
                        </a>
                    {{/each}}
                    <hr/>
                    {{#each currentTag.biomes}}
                        <a class="tag" data-biome-key="{{key}}">
                            {{display_rarity value "&#10;Linksklick: +&#10;Rechtsklick: -"}}
                            {{name}}
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>


        <div class="box header biome"
             style="background: url({{currentLocation.currentBiome.img}})">
            <h2>Aktueller Ort <a class="pick-current-location" title="Aktuellen Ort als Verfügbarkeit auswählen">
                <i class="fas fa-check-double"></i></a></h2>
            <div class="region box">
                <b>{{currentLocation.currentBiome.name}}</b>
            </div>
            <div class="region box">
                {{#each currentLocation.currentRegions}}
                    <h2>{{name}}</h2>
                    {{#each regions}}
                        <span>{{name}}</span>
                    {{/each}}
                {{/each}}
            </div>
        </div>
    </div>

    <div class="box header">
        <h1>Entities</h1>
        <table class="tag-entities">
            <tr>
                <th>Bild</th>
                <th>Name</th>

                {{#if showDescription}}
                    <th><a class="toggle-description" title="Beschreibung ausblenden">Beschreibung</a></th>
                {{else}}
                    <th><a class="toggle-description" title="Beschreibung anzeigen"><i class="fas fa-quote-right"></i></a></th>
                {{/if}}

                {{#if showCurrentRarity}}
                    <th><a class="toggle-current-rarity" title="Aktuelle Verfügbarkeit ausblenden">Verfügbarkeit</a></th>
                {{else}}
                    <th><a class="calculate-current-rarity" title="Aktuelle Verfügbarkeit anzeigen"><i class="fas fa-calculator"></i></a></th>
                {{/if}}

                <th>allg.</th>
                <th>nach Region</th>
                <th>nach Landschaftstyp</th>
            </tr>
            <tr>
                <th>
                    <button class="clear-filter" title="Alle Filter löschen">
                        <i class="fas fa-backspace"></i>
                    </button>
                </th>
                <th><input type="text" class="filter" name="name" value="{{filter.name}}"/></th>

                {{#if showDescription}}
                    <th><input type="text" class="filter" name="description" value="{{filter.description}}"/></th>
                {{else}}
                    <th></th>
                {{/if}}

                {{#if showCurrentRarity}}
                    <th>Filter</th>
                {{else}}
                    <th></th>
                {{/if}}

                <th></th>
                <th></th>
                <th></th>
            </tr>

            {{#each entities}}
                <tr class="entity-list">
                    <td><img src="{{img}}"/></td>
                    <td>{{name}}</td>

                    {{#if ../showDescription}}
                        <td>{{{description}}}</td>
                    {{else}}
                        <td></td>
                    {{/if}}

                    <td class="calculate-current" data-id="{{_id}}">{{display_rarity rarity.current}}</td>
                    <td class="entity-tag" data-id="{{_id}}">{{display_rarity rarity.general}}</td>
                    <td class="entity-tag" data-id="{{_id}}">
                        {{#each rarity.regions}}
                            {{display_rarity value}} {{name}}
                        {{/each}}
                    </td>
                    <td class="entity-tag" data-id="{{_id}}">
                        {{#each rarity.biomes}}
                            {{display_rarity value}} {{name}}
                        {{/each}}
                    </td>
                </tr>
            {{/each}}

        </table>

    </div>
</div>
