<form>
    <div class="col-2">
        <div class="box header">
            <h1>Die Guten</h1>
            <div class="inner box float player-actors">
                {{#each selectOptions.playerActors}}
                    <div>
                        <input {{checked active}} id="player-{{actor._id}}"
                                                  class="akteur"
                                                  name="players.selection.{{actor._id}}"
                                                  type="checkbox"/>
                        <label for="player-{{actor._id}}"
                               style="width:150px;background-image:url({{actor.img}});">{{actor.name}}</label>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="box header">
            <h1>Die Bösen</h1>
            <div class="top-bar">
                <a><i class="fas fa-plus-square"></i></a>
            </div>
        </div>
    </div>
    <div>
        <button name="fight" class="bold">Fight!</button>
    </div>
</form>
