<div class="row-section ">
    <div class="col ten">
        <img src="{{item.img}}" {{#if showBorder}}class="no-image-border" {{/if}} data-edit="img" />
    </div>
    <div class="col ninety item-main">
        <div class="row-section">
            <div class="col four">
                <label class="label-text table-title">{{localize "Location.Category"}}</label>
            </div>
            <div class="col four">
                <select name="data.regionType.value" data-dtype="String" style="width: 100%">
                    {{#select data.regionType.value}}
                        <option value="biome">Landschafts-Typ</option>
                        {{#each regionTypes as |ch char|}}
                            <option value="{{char}}">{{localize ch}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="row-section">
            <div class="col four">
                <label class="label-text table-title">{{localize "Location.Key"}}</label>
            </div>
            <div class="col four">
                <input class="input-text" type="text" name="data.regionKey.value" value="{{data.regionKey.value}}" data-dtype="String" />
            </div>
        </div>
    </div>
</div>

