<form autocomplete="off" class="meistertools">
    <div class="col-3">
        <div>
            {{#if locatorScene}}
                <button class="locate-token large" type="button" title="Sicht auf Locator Token in Karten-Szene zentrieren">
                    <i class="fas fa-crosshairs"></i>
                </button>
            {{/if}}
        </div>
        <div>
            {{#if locatorScene}}
                <h3><b>Karte:</b> {{locatorScene.name}}</h3>
            {{else}}
                <p>Keine Szene als Karte gew채hlt</p>
            {{/if}}
            {{#if locatorToken}}
                <p><b>Token:</b> {{locatorToken.name}}</p>
            {{else}}
                <p>Kein Token gew채hlt</p>
            {{/if}}
        </div>
        <div>
            <button type="button" class="set-token wide" title="Das ausgew채hlte Token als Locator Token verwenden">
                <i class="fas fa-user-tag"></i></button>
        </div>
    </div>

    <div class="biome box header" style="background: url({{currentLocation.currentBiome.img}})">
        <h2>{{currentLocation.currentBiome.name}}</h2>
        <div class="top-bar">
            <a class="pick-region" title="Regionen manuell ausw채hlen"><i class="fas fa-edit"></i></a>
        </div>
        <div class="region box">
            {{#each expandedRegions}}
                <h2><b>{{name}}</b>
                    {{#each regions}}
                        <span>{{name}}</span>
                    {{/each}}
                </h2>
            {{/each}}
        </div>
    </div>

</form>
