<div class="meistertools">
    <div class="col-3">
        <div>
            {{#if locatorScene}}
                <button class="locate-token large" title="Sicht auf Locator Token in Karten-Szene zentrieren">
                    <i class="fas fa-crosshairs"></i>
                </button>
            {{/if}}
        </div>
        <div>
            {{#if locatorScene}}
                <h3><b>Karte:</b> {{locatorScene.name}}</h3>
            {{else}}
                <p>Keine Szene als Karte gewählt</p>
            {{/if}}
            {{#if locatorToken}}
                <p><b>Token:</b> {{locatorToken.name}}</p>
            {{else}}
                <p>Kein Token gewählt</p>
            {{/if}}
        </div>
        <div>
            <button class="set-token wide" title="Das ausgewählte Token als Locator Token verwenden">
                <i class="fas fa-user-tag"></i></button>
        </div>
    </div>

    <div class="biome box header" style="background: url({{currentLocation.currentBiome.img}})">
        <h2>{{currentLocation.currentBiome.name}}</h2>
        <div class="top-bar">
            <a class="pick-region" title="Regionen manuell auswählen"><i class="fas fa-edit"></i></a>
        </div>
        <!--
        <select name="biome" class="biome">
            {{#select currentLocation.currentBiome.key}}
                <option></option>
                {{#each biomes}}
                    <option value="{{key}}">{{name}}</option>
                {{/each}}
        {{/select}}
        </select>

-->
        <div class="region box">
            {{#each expandedRegions}}
                <h2><b>{{name}}</b>
                    {{#each regions}}
                        <span>{{name}}</span>
                    {{/each}}
                </h2>
            {{/each}}
        </div>
    </div>

    <!--
        <div class="col-2">
            <button class="open-parser wide" title="Regionen und Kartenzeichnungen"><i class="fas fa-cogs"></i></button>
            <div style="text-align: right">
                <button class="set-token wide" title="Das ausgewählte Token als Locator Token verwenden">
                    <i class="fas fa-user-tag"></i></button>
                &lt;!&ndash; <button class="set-scene">set scene</button> &ndash;&gt;
            </div>
        </div>
    -->

</div>
