<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header" ondragstart="return false;" ondrop="return false;">
        <div class="charname headerInput">
            <input class="input name" name="name" type="text" value="{{actor.name}}"
                   placeholder="{{localize 'Character Name'}}"/>
            <span class="label name">{{localize "Name"}}</span>
        </div>
        {{#when merchantType 'noteq' 'loot'}}
            <div class="headerInput">
                <input class="input species" name="data.details.species.value" type="text"
                       value="{{data.details.species.value}}" readonly placeholder="{{localize 'species'}}"/>
                <span class="label species">{{localize "species"}}</span>
            </div>
            <div id="field-careerlevel" class="headerInput">
                <input class="input-details" name="data.details.career.value" type="text"
                       value="{{data.details.career.value}}" placeholder="{{localize 'career'}}"/>
                <span class="label-details">{{localize "career"}}</span>
            </div>
        {{/when}}
    </header>

    <div class="general" ondragstart="return false;" ondrop="return false;">
        <img class="charimg profile" src="{{actor.img}}" title="{{actor.name}}"
            {{#when merchantType 'eq' 'loot'}}style="margin-left: calc(50% - 57px)" {{/when}} data-edit="img">

        <div class="row-section" style="width: 100%;margin-bottom: 20px">
            {{#when merchantType 'noteq' 'loot'}}
                <div class="col">
                    <div class="row-section wrap charBtns">
                        {{#each actor.data.characteristics as |ch c|}}
                            <div title="{{localize ch.label}}" class="col eight center">
                                {{localize ch.abrev}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="row-section wrap charBtns">
                        {{#each actor.data.characteristics as |ch c|}}
                            <div class="ch-value col eight center" data-char="{{c}}"><a
                                    class="d20 die-{{c}}">{{ch.value}}</a>
                            </div>
                        {{/each}}
                    </div>
                    {{> systems/dsa5/templates/actors/parts/healthbar.html}} {{#if actor.schips}}
                    <div class="row-section">
                        <div class="col ten lineheight center" title="{{localize 'fatePoints'}}">
                            {{localize 'CHARAbbrev.fatePoints'}}
                        </div>
                        <div class="col eighty center" title="{{localize 'fatePoints'}}">
                            <input class="dsahidden" type="text" name="data.status.fatePoints.value" data-dtype="Number"
                                   value="{{actor.data.status.fatePoints.value}}"/> {{#each actor.schips as |item i|}}
                            <a class="schip {{item.cssClass}}" data-val="{{item.value}}"></a> {{/each}}
                        </div>
                        <div class="col ten center">
                        </div>
                    </div>
                {{/if}}
                </div>
            {{/when}}
        </div>

    </div>
    <!-- TABS -->
    <section id="tab-sections">
        <nav id="dsa5-primarytabs" class="sheet-tabs tabs" ondragstart="return false;" ondrop="return false;">
            {{#when merchantType 'noteq' 'loot'}}
                <a class="item" data-tab="skills">{{localize "skills"}}</a>
                <a class="item" data-tab="combat">{{localize "Combat"}}</a> {{#if actor.magic.hasSpells}}
                <a class="item" data-tab="magic">{{localize "Magic"}}</a> {{/if}} {{#if actor.magic.hasPrayers}}
                <a class="item" data-tab="religion">{{localize "Religion"}}</a> {{/if}}
                <a class="item" data-tab="main">{{localize "attributes"}}</a>
            {{/when}}
            <a class="item active" data-tab="inventory">Waren</a>
            {{#when merchantType 'noteq' 'loot'}}
                <a class="item" data-tab="status">{{localize "status"}}</a>
                <a class="item" data-tab="notes">{{localize "Notes"}}</a>
            {{/when}}
        </nav>

        <section class="content">
            {{#when merchantType 'noteq' 'loot'}}
                <div class="tab main save-scroll" data-tab="main">
                    {{> systems/dsa5/templates/actors/npc/npc-main.html}}
                </div>
                <div class="tab skills save-scroll" data-tab="skills">
                    {{> systems/dsa5/templates/actors/actor-talents.html}}
                </div>
                <div class="tab combat save-scroll" data-tab="combat">
                    {{> systems/dsa5/templates/actors/actor-combat.html}}
                </div>
                {{#if actor.magic.hasSpells}}
                    <div class="tab magic save-scroll" data-tab="magic">
                        {{> systems/dsa5/templates/actors/character/actor-magic.html}}
                    </div>
                {{/if}}
                {{#if actor.magic.hasPrayers}}
                    <div class="tab religion save-scroll" data-tab="religion">
                        {{> systems/dsa5/templates/actors/character/actor-religion.html}}
                    </div>
                {{/if}}
            {{/when}}
            <div class="tab inventory save-scroll" data-tab="inventory">

                <!-- own code is about to begin -->

                <div class="col-2" style="grid-template-columns: 290px auto">

                    <div class="box header">
                        <h1><a class="re-roll" data-roll-type="current"><i class="fas fa-dice"></i></a></h1>
                        <div class="top-bar">
                            <a class="remove-all" title="Alle Einträge entfernen"><i class="far fa-trash-alt"></i></a>
                            <a class="show-all" title="Alle Einträge sichtbar machen"><i class="far fa-eye"></i></a>
                            <a class="hide-all" title="Alle Einträge unsichtbar machen"><i class="far fa-eye-slash"></i></a>
                            {{#if locked}}
                                <a class="unlock-merchant" title="Ansicht für Spieler freigeben"><i
                                        class="fas fa-lock"></i></a>
                            {{else}}
                                <a class="lock-merchant" title="Ansicht für Spieler verbergen"><i
                                        class="fas fa-unlock"></i></a>
                            {{/if}}
                        </div>

                        <div class="col-3">
                            <div class="borderless box">
                                <select id="general.merchantType" name="general.merchantType" class="labeled merchant">
                                    {{#select general.merchantType}}
                                        {{#each options.MERCHANT_TYPE}}
                                            <option value="{{key}}">{{name}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                                <label for="general.merchantType">Typ</label>
                            </div>
                            <div class="borderless box">
                                <select id="general.quality" name="general.quality" class="labeled merchant">
                                    {{#select general.quality}}
                                        {{#each options.QUALITY}}
                                            <option value="{{key}}">{{name}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                                <label for="general.quality">Q</label>
                            </div>
                            <div class="borderless box">
                                <select id="general.price" name="general.price" class="labeled merchant">
                                    {{#select general.price}}
                                        {{#each options.PRICE}}
                                            <option value="{{key}}">{{name}}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                                <label for="general.price">P</label>
                            </div>
                        </div>
                        {{#ifeq general.merchantType 'tavern'}}
                            <div class="inner box">
                                <input class="labeled merchant" type="text" name="general.tavern-name"
                                       value="{{general.tavern-name}}"/>
                                <label><a class="re-roll" data-roll-type="tavern-name"><i
                                        class="fas fa-dice"></i></a> Name der Taverne</label>
                            </div>
                        {{/ifeq}}

                        {{#ifeq general.merchantType 'merchant'}}
                            <div class="inner box header">
                                <h2>Ankauf</h2>
                                <p>Concept only, doesnt work yet!</p>
                                <div class="col-2">
                                    <b>Bietet</b>
                                    <div>
                                        <select id="general.buys.price" name="general.buys.price" class="merchant">
                                            {{#select general.buys.price}}
                                                <option value="0">-kauft nichts</option>
                                                {{#each options.PRICE}}
                                                    <option value="{{key}}">{{name}}</option>
                                                {{/each}}
                                            {{/select}}
                                        </select>
                                    </div>
                                </div>
                                <div class="buy-rarity">
                                    <input id="general.buys.rarity-0" name="general.buys.rarity-0" class="merchant"
                                        {{checked general.buys.rarity-0}} type="checkbox"/>
                                    <label for="general.buys.rarity-0">{{display_rarity 0}}</label>
                                    <input id="general.buys.rarity-1" name="general.buys.rarity-1" class="merchant"
                                        {{checked general.buys.rarity-1}} type="checkbox"/>
                                    <label for="general.buys.rarity-1">{{display_rarity 1}}</label>
                                    <input id="general.buys.rarity-2" name="general.buys.rarity-2" class="merchant"
                                        {{checked general.buys.rarity-2}} type="checkbox"/>
                                    <label for="general.buys.rarity-2">{{display_rarity 2}}</label>
                                    <input id="general.buys.rarity-3" name="general.buys.rarity-3" class="merchant"
                                        {{checked general.buys.rarity-3}} type="checkbox"/>
                                    <label for="general.buys.rarity-3">{{display_rarity 3}}</label>
                                    <input id="general.buys.rarity-4" name="general.buys.rarity-4" class="merchant"
                                        {{checked general.buys.rarity-4}} type="checkbox"/>
                                    <label for="general.buys.rarity-4">{{display_rarity 4}}</label>
                                    <input id="general.buys.rarity-5" name="general.buys.rarity-5" class="merchant"
                                        {{checked general.buys.rarity-5}} type="checkbox"/>
                                    <label for="general.buys.rarity-5">{{display_rarity 5}}</label>
                                </div>
                            </div>
                        {{/ifeq}}


                        {{#if cart}}
                            <div class="box">
                                {{#each cart}}
                                    <div><b>{{item.name}} {{{money price}}}</b></div>
                                    <!--<textarea>{{stringify this}}</textarea>-->
                                {{/each}}
                                <a class="serve-cart"><i class="fas fa-concierge-bell"></i> Servieren</a>
                                <a class="request-payment"><i class="fas fa-coins"></i> Nur Berechnen</a>

                                <a class="clear-cart" style="float: right;" title="Warenkorb leeren"><i
                                        class="fas fa-trash-alt"></i></a>
                            </div>
                        {{/if}}

                        <div class="hidden">
                            <a class="delete-display-messages"><i class="fas fa-comment-dots"></i> Display Chats löschen</a><br/>
                            <a class="delete-payment-messages"><i class="fas fa-comment-dollar"></i> Payment Chats
                                löschen</a>
                        </div>
                    </div>

                    <div>
                        {{#each supply as |category n|}}
                            {{#with category}}
                                <div class="inner box header">
                                    <h2>
                                        {{#if ../general.edit-settings}}
                                            <input type="text" name="categoryName" data-category-id="{{n}}"
                                                   class="merchant" value="{{categoryName}}"/>
                                        {{else}}
                                            <a class="re-roll" data-roll-type="items-{{n}}"><i class="fas fa-dice"></i></a>
                                            {{categoryName}}
                                        {{/if}}
                                    </h2>
                                    <div class="top-bar">
                                        <a class="show-category" data-category-id="{{n}}"
                                           title="Alle Einträge sichtbar machen"><i class="far fa-eye"></i></a>
                                        <a class="show-settings"><i class="fas fa-cogs"></i></a>
                                    </div>

                                    <div class="edit-settings {{#unless ../general.edit-settings}}hidden{{/unless}}">
                                        <div class="col-2" style="grid-template-columns: 20px auto">
                                            <div><a class="delete-category" data-category-id="{{n}}"><i
                                                    class="fas fa-trash-alt"></i></a></div>
                                            <div class="inner box">
                                                <div class="col-3">

                                                    <div class="borderless box">
                                                        <select id="library-{{n}}" name="source-id"
                                                                class="labeled library merchant"
                                                                data-category-id="{{n}}">
                                                            {{#select source-id}}
                                                                <option></option>
                                                                {{#each ../options.LIBRARY_ITEM_TYPES}}
                                                                    <option value="{{this}}">{{this}}</option>
                                                                {{/each}}
                                                            {{/select}}
                                                        </select>
                                                        <label for="library-{{n}}">Bibliothek</label>
                                                    </div>

                                                    <div class="borderless box">
                                                        <select id="rolltable-{{n}}" name="source-id"
                                                                class="labeled rolltable merchant"
                                                                data-category-id="{{n}}">
                                                            {{#select source-id}}
                                                                <option></option>
                                                                {{#each ../options.ROLLTABLES}}
                                                                    <option value="{{_id}}@{{packName}}">{{name}}</option>
                                                                {{/each}}
                                                            {{/select}}
                                                        </select>
                                                        <label for="rolltable-{{n}}">Tabelle</label>
                                                    </div>

                                                    <div class="borderless box">
                                                        <select id="items-{{n}}" name="source-id"
                                                                class="labeled items merchant"
                                                                data-category-id="{{n}}">
                                                            {{#select source-id}}
                                                                <option></option>
                                                                {{#each ../options.PACKS}}
                                                                    <option value="{{key}}">{{name}}</option>
                                                                {{/each}}
                                                            {{/select}}
                                                        </select>
                                                        <label for="items-{{n}}">Item Paket</label>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="borderless box">
                                                        <input class="labeled merchant" type="text" name="filter-text"
                                                               data-category-id="{{n}}" value="{{filter-text}}"/>
                                                        <label>Text Filter</label>
                                                    </div>
                                                    <div>
                                                        <input id="filter-rarity-{{n}}" name="filter-rarity"
                                                               data-category-id="{{n}}" class="merchant"
                                                            {{checked filter-rarity}} type="checkbox"/>
                                                        <label for="filter-rarity-{{n}}"
                                                               title="Gewichtung gemäß Verfügbarkeit an aktuellem Ort">Verfügbarkeit</label>
                                                    </div>
                                                </div>
                                                <div class="inner box float amount-rule">
                                                    <div class="borderless box">
                                                        <input class="labeled merchant" type="text" name="amount-q1"
                                                               data-category-id="{{n}}" value="{{amount-q1}}"/>
                                                        <label>Q1</label>
                                                    </div>
                                                    <div class="borderless box">
                                                        <input class="labeled merchant" type="text" name="amount-q2"
                                                               data-category-id="{{n}}" value="{{amount-q2}}"/>
                                                        <label>Q2</label>
                                                    </div>
                                                    <div class="borderless box">
                                                        <input class="labeled merchant" type="text" name="amount-q3"
                                                               data-category-id="{{n}}" value="{{amount-q3}}"/>
                                                        <label>Q3</label>
                                                    </div>
                                                    <div class="borderless box">
                                                        <input class="labeled merchant" type="text" name="amount-q4"
                                                               data-category-id="{{n}}" value="{{amount-q4}}"/>
                                                        <label>Q4</label>
                                                    </div>
                                                    <div class="borderless box">
                                                        <input class="labeled merchant" type="text" name="amount-q5"
                                                               data-category-id="{{n}}" value="{{amount-q5}}"/>
                                                        <label>Q5</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    {{#unless ../general.edit-settings}}
                                        <table class="current-supply">
                                            <tr>
                                                <th class="image">Bild</th>
                                                <th>Name</th>
                                                <th class="rarity"></th>
                                                <th class="price">Preis</th>
                                                <th class="cart"></th>
                                            </tr>
                                            {{#each current}}
                                                {{#with item}}
                                                    <tr {{#unless ../visible}}class="invisible"{{/unless}}>
                                                        <td>
                                                            <img data-entry-id="{{_id}}" data-category-id="{{n}}"
                                                                 class="show-entry" src="{{img}}"
                                                                 title="Eintrag sichtbar machen"/>
                                                        </td>
                                                        <td>
                                                            <h3>{{#if data.description.value}}
                                                            <a class="toggle-description" data-target="#detail-{{_id}}">
                                                                <i
                                                                        class="fas fa-info-circle"></i> {{/if}}{{name}}
                                                            </a></h3>
                                                            <div id="detail-{{_id}}" class="inner box hidden">
                                                                {{{data.description.value}}}
                                                            </div>
                                                        </td>
                                                        <td>{{display_rarity data.rarity.current}}</td>
                                                        <td class="price">{{{money ../price}}}</td>
                                                        <td class="cart">
                                                            <a class="add-to-cart" data-entry-id="{{_id}}"
                                                               data-category-id="{{n}}"><i
                                                                    class="fas fa-cart-plus"></i></a>
                                                        </td>
                                                    </tr>
                                                {{/with}}
                                            {{/each}}
                                        </table>
                                    {{/unless}}
                                </div>
                            {{/with}}
                        {{/each}}

                        <div class="float: right"><a class="add-category"><i class="fas fa-plus-circle"></i>
                            Kategorie hinzufügen</a></div>
                    </div>

                    <!-- thats it with own code. everything else is (c) Ulisses and taken from the dsa5 core system -->

                </div>
            </div>

            {{#when merchantType 'noteq' 'loot'}}
                <div class="tab status save-scroll" data-tab="status">
                    status
                    {{> systems/dsa5/templates/actors/parts/status_effects.html}}
                </div>
                <div class="tab save-scroll" data-tab="notes">
                    notes
                    {{> systems/dsa5/templates/actors/actor-notes.html}}
                </div>
            {{/when}}
        </section>
    </section>
</form>
