<form autocomplete="off" class="meistertools content">
    <!-- -----------------------
    Navigation
    ----------------------- -->
    <nav class="tabs">
        <a class="item" data-tab="nsc-generator">NSC Fabrik</a>
        <a class="item" data-tab="existing-actors">Akteur-Verzeichnis</a>
    </nav>

    <!-- -----------------------
    NSC Generator
    ----------------------- -->
    <section class="tab" data-tab="nsc-generator">

        {{#if settings.storedPattern}}
            <div class="inner box header">
                <h3>{{#toggle "vorlagen:show" _expandedTargets}}{{localize
                        "Meistertools.SavedConfigurations"}}{{/toggle}}</h3>
                {{#collapsible "vorlagen:show" _expandedTargets}}
                    {{#each ../settings.storedPattern as |pattern id|}}
                        <a class="handle-pattern" data-action="remove" data-pattern-id="{{id}}"><i
                                class="fas fa-minus-circle"></i></a>
                        <a class="load-pattern handle-pattern" data-pattern-id="{{id}}">{{pattern.patternName}}</a>
                    {{/each}}
                {{/collapsible}}
            </div>
        {{/if}}

        <div class="nsc-factory">
            <div class="box header">
                <h1>Konfiguration</h1>
                <div class="col-3" style="grid-template-columns: auto 48px 48px">
                    <div id="nsc-selection">{{{selectionDisplay}}}</div>
                    {{pick_scene-position "position" selection.position selectOptions.scenePositions "left" }}
                    <div>
                        <input id="amount" class="amount" name="amount" value="{{selection.amount}}" type="text"/>
                        <a class="change-amount increase" data-delta="1"><i class="fas fa-plus-circle"> </i></a>
                        <a class="change-amount decrease" data-delta="-1"><i class="fas fa-minus-circle"> </i></a>
                    </div>
                </div>
            </div>
            <div>
                <button name="create-nsc" class="create-nsc" type="button"
                        title="NSC auf Basis der Vorschau erstellen und ggfls. in Szene einfügen. Falls keine Vorschau
                        existiert, werden NSC auf Basis der aktuellen Konfiguration neu ausgewürfelt">
                    <i class="fas fa-user-plus"></i>
                </button>
                <button name="create-preview" class="create-preview" type="button"
                        title="Vorschau auf Basis der aktuellen Konfiguration auswürfeln">
                    <i class="fas fa-dice"></i>
                </button>
            </div>
        </div>


        {{#if preview}}
            <div class="box header">
                <h1>{{#toggle "results-preview:show" _expandedTargets}}Vorschau{{/toggle}}</h1>
                {{#collapsible "results-preview:show" _expandedTargets}}
                    <div class="float">
                        {{#each ../preview.results as |this id|}}
                            <div class="inner box header">
                                <h2 class="re-roll" data-result-id="{{id}}" data-result-key="name"
                                    title="Name neu auswürfeln">{{name}}</h2>
                                <div class="col-2">
                                    <div>
                                        <img src="{{img}}" class="avatar re-roll" title="Aussehen neu auswürfeln"
                                             data-result-id="{{id}}" data-result-key="img"/>
                                        <p><b><i class="fas fa-hammer" title="Beruf"></i></b>
                                            {{career}}</p>
                                    </div>
                                    <div>
                                        <table>
                                            <tr>
                                                <td><i class="fas fa-hourglass-half" title="Alter"></i></td>
                                                <td>{{age}} Jahre</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fas fa-arrows-alt-v" title="Größe"></i></td>
                                                <td>{{height}} cm</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fas fa-weight-hanging" title="Gewicht"></i></td>
                                                <td>{{weight}} Stein</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fas fa-hat-cowboy" title="Haarfarbe"></i></td>
                                                <td>{{haircolor}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="far fa-eye" title="Augenfarbe"></i></td>
                                                <td>{{eyecolor}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="re-roll" data-result-id="{{id}}" data-result-key="traits"
                                     title="Weitere Charakteristika und Hintergrund neu auswürfeln">
                                    <p><b><i class="fas fa-city" title="Herkunft"></i></b>
                                        {{origin}}</p>

                                    <b>Charakter</b>
                                    <div>{{characterTrait}}</div>
                                    <b>Zitat</b>
                                    <div>"{{catchphrase}}"</div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/collapsible}}
            </div>
        {{/if}}


        <!-- NSC Archetypes -->
        <div class="box header">
            <h2>{{#toggle "archetype-selection:show" _expandedTargets }}Spezies und Kultur{{/toggle}}</h2>
            {{#collapsible "archetype-selection:show" _expandedTargets}}
                {{#each ../settings.species}}
                    <div class="archetypes inner box float">
                        {{#each_when ../../settings.archetypes 'species' key}}
                            <div>
                                <input {{checked_radio ../../../selection.archetype key}}
                                        class="akteur" id="archetype-{{key}}"
                                        type="radio" value="{{key}}" name="archetype"/>
                                <label for="archetype-{{key}}" style="background-image: url({{img}});">
                                    {{name}}
                                    {{#if variations}}
                                        <select name="variation">
                                            {{#select ../../../selection.variation}}
                                                <option></option>
                                                {{#each variations}}
                                                    <option value="{{key}}">{{name}}</option>
                                                {{/each}}
                                            {{/select}}
                                        </select>
                                    {{/if}}
                                </label>
                            </div>
                        {{/each_when}}
                    </div>
                {{/each}}
            {{/collapsible}}
        </div>

        <div class="box header">
            <h2>{{#toggle "profession-selection" _expandedTargets}}Profession{{/toggle}}</h2>
            {{#collapsible "profession-selection" _expandedTargets}}
                <div class="inner box profession float">
                    {{#each ../selectOptions.professionCompendium}}
                        <div>
                            <input {{checked_radio ../../selection.profession _id}}
                                    class="akteur" id="profession-{{_id}}" type="radio" value="{{_id}}"
                                    name="profession"/>
                            <label for="profession-{{_id}}" style="background-image: url({{img}})">{{name}}</label>
                        </div>
                    {{/each}}
                </div>
            {{/collapsible}}
        </div>

        <div class="box header">
            <h2>{{#toggle "gender-select" _expandedTargets}}Geschlecht{{/toggle}}</h2>
            {{#collapsible "gender-select" _expandedTargets}}
            <div class="inner box gender-selection float">
                {{#each ../settings.gender}}
                    <div>
                        <input {{checked_radio ../../selection.gender key}}
                                id="gender-{{key}}" type="radio" value="{{key}}" name="gender"/>
                        <label for="gender-{{key}}">{{name}} <i class="{{icon}}"></i></label>
                    </div>
                {{/each}}
            </div>
            {{/collapsible}}
        </div>

        <div class="inner box header">
            <h3>Als Konfiguration-Vorlage speichern</h3>
            <div class="col-2" style="grid-template-columns: auto 40px">
                <div>
                    <input id="patternName" name="patternName" type="text" class="labeled"/>
                    <label for="patternName">Name der Vorlage</label>
                </div>
                <div>
                    <button class="store-pattern handle-pattern" data-action="store" title="speichern"><i
                            class="fas fa-save"></i></button>
                </div>
            </div>
        </div>
    </section>

    <section class="tab" data-tab="existing-actors">

        <div class="box header left-padding players">
            <h1>Spieler</h1>
            <div class="inner box float player-actors">
                {{#each selectOptions.playerActors}}
                    <div>
                        <input {{checked active}}
                                id="player-{{actor._id}}" class="akteur"
                                name="players.selection.{{actor._id}}" type="checkbox"/>
                        <label for="player-{{actor._id}}"
                               style="width:150px;background-image:url({{actor.img}});">{{actor.name}}</label>
                    </div>
                {{/each}}
            </div>
            <div class="inner box col-2 player-actors">
                {{pick_scene-position "players.position" selection.players.position selectOptions.scenePositions}}
                <div style="text-align: right">
                    <button title="Markierte Spieler in betrachtete Szene einfügen"
                            type="button" name="insert-player"><i class="fas fa-user-plus"></i></button>
                </div>
            </div>
        </div>

        <div class="box header left-padding existing-nsc">
            <h1>Mit NSC Fabrik generiert</h1>
            <div class="inner box float">
                {{#each selectOptions.generatedNsc}}
                    <div>
                        <input id="existing-nsc-{{_id}}" class="akteur" name="existing-nsc.selection.{{_id}}"
                               type="checkbox"/>
                        <label for="existing-nsc-{{_id}}" style="background-image: url({{img}});">
                            <b>{{name}}</b>
                            <div>

                                <span>{{data.data.details.species.value}}</span>
                                <i>({{data.data.details.culture.value}})</i>
                                <span>{{data.data.details.career.value}}</span>
                            </div>
                        </label>
                    </div>
                {{/each}}
            </div>
            <div class="inner box col-2">
                {{pick_scene-position "existing-nsc.position" selection.existing-nsc.position
                                      selectOptions.scenePositions}}
                <div style="text-align: right">
                    <button title="Markierte NSC in betrachtete Szene einfügen"
                            type="button" name="insert-existing-nsc"><i class="fas fa-user-plus"></i></button>
                </div>
            </div>
        </div>

    </section>

</form>
