<div>
    <div class="col-2" style="grid-template-columns: auto 300px">
        <div>
            <div class="inner box">
                <button name="open-wizzard"><i class="fas fa-book"></i>Regelwerke</button>
                <button name="open-library"><i class="fas fa-book"></i>Bibliothek</button>
                <button name="find-token"><i class="fas fa-crosshairs"></i> Wo bin ich?</button>
                <button name="open-sheet"><i class="fas fa-user"></i> Bogen</button>
                <button class="open-app" name="combats"><i class="fas fa-fist-raised"></i> Initiative!</button>
                <button class="open-app" name="items"><i class="fas fa-suitcase"></i> Gegenst채nde</button>
                <button class="open-app" name="actors"><i class="fas fa-users"></i> Akteure</button>
                <button class="open-app" name="journal"><i class="fas fa-book-open"></i> Notizen</button>
                <button class="open-app" name="playlists"><i class="fas fa-music"></i> Musik</button>
            </div>
            <div class="inner box header">
                <h3>Mitspieler anfl체stern</h3>
                <div class="float">
                    {{#each players}}
                        <div class="inner box" style="width: 64px; {{#if active}}background-color:lightgreen{{/if}}">
                            <a class="message-user" data-recipient="{{name}}" title="Geheime Nachricht versenden.">
                                {{#if isGM}}
                                    <img src="/systems/dsa5/icons/categories/ability_fate_points.webp"
                                         style="border: none"/>
                                {{/if}}
                                <img src="{{character.img}}" style="border: none"/>
                                {{name}}</a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="box header biome"
             style="background: url({{currentLocation.currentBiome.img}})">
            <h2>{{currentLocation.currentBiome.name}}</h2>
            <!--
                        <div class="region box">
                            <h2>Coming soon:</h2>
                            <ul>
                                <li>Uhrzeit und Kalender</li>
                                <li>Aktuelles Wetter und Mondphase</li>
                                <li>Hunger, Durst, Schlaf</li>
                                <li>LeP, AsP, KaP</li>
                            </ul>
                        </div>
            -->
        </div>
    </div>
<!--

    {{#if user.character}}
        <div class="box header"><h1>{{user.character.name}}</h1>
            <div class="col-2" style="grid-template-columns: 150px auto ">
                <div class="inner box">
                    <img src="{{user.character.img}}" style="border: none; width: 128px"/>
                </div>
                <div class="inner box header">
                    <h2>Ausr체stung</h2>
                    &lt;!&ndash;
                    {{editor content="@Item[ETnccRp0DnazlW6J]{Honig}" target="content" button=false editable=false
                             owner=owner}}
                    &ndash;&gt;
                </div>
            </div>

        </div>
    {{/if}}

    {{#if isGM}}
        <div class="inner box header">
            <h3>Spieler-Sicht w채hlen:</h3>
            {{#each players}}
                <a class="select-user" data-user-id="{{_id}}" style="border:1px solid black;padding: 2px">{{name}}</a>
            {{/each}}
            <b>(aktuell: {{user.name}})</b>
        </div>
    {{/if}}
-->

</div>
