<div class="col-2" style="grid-template-columns: 250px auto">
    <div>
        {{#each options.ruleCategories}}
            <div class="inner box header">
                <h2>{{name}}</h2>
                {{#each_when ../options.rules 'category' key}}
                    <div><a class="set-rule" data-rule-key="{{key}}"><i class="{{icon}}"
                                                                        style="width: 20px"></i> {{name}}</a></div>
                {{/each_when}}
            </div>
        {{/each}}

        <div class="inner box">
            <button class="talents bold" style="width: 100%"><i class="fas fa-hat-wizard"></i> allgemeine Talentprobe
            </button>
        </div>

    </div>

    {{#if rule}}
        <div class="box header float">
            <h1><i class="{{rule.icon}}"></i> {{rule.name}}</h1>

            {{#if rule.url}}
                <p>...kommt bald:</p>
                <textarea>{{rule.url}}</textarea>
            {{/if}}

            {{#each rule.rollRequests as |request n|}}
                {{#with request}}
                    <div class="inner box header">
                        <h2>{{name}}</h2>
                        <div class="col-2">
                            <div class="float">
                                {{#ifeq target "Player"}}
                                    {{#each ../options.players}}
                                        <div>
                                            <input id="actor-{{n}}-{{_id}}" type="radio" value="{{_id}}"
                                                   name="target-{{n}}"/>
                                            <label for="actor-{{n}}-{{_id}}">{{name}} </label>
                                        </div>
                                    {{/each}}
                                {{else}}
                                    <b>Todo: Pick Actor</b>
                                {{/ifeq}}
                            </div>
                            <div>
                                {{#each rolls as |roll k|}}
                                    {{#with roll}}
                                        <div>
                                            <b>Modifier {{modifier}}</b>
                                            <button class="request-roll" data-request="{{n}}"
                                                    data-roll="{{k}}">{{talent}}</button>
                                        </div>
                                    {{/with}}
                                {{/each}}
                            </div>
                        </div>

                        {{#if description}}
                            <p>{{description}}</p>
                        {{/if}}

                        {{#if duration}}
                            <p>Dauer: {{duration}}</p>
                        {{/if}}

                        {{#if modifiers}}
                            <h3><b>Zusätzliche Modifikatoren: </b>
                                {{#each modifiers}}
                                    <i>{{this}} </i>
                                {{/each}}
                            </h3>
                        {{/if}}

                    </div>
                {{/with}}
            {{/each}}
        </div>

    {{else}}
        <div class="box header">
            <h1>Talentproben</h1>
            <div class="float">
                {{#each options.players}}
                    <div>
                        <input id="player-{{_id}}" type="checkbox" class="player" name="{{_id}}"/>
                        <label for="player-{{_id}}">{{name}} </label>
                    </div>
                {{/each}}
            </div>

            {{#each skillGroups as |group n|}}
                <div class="inner box header">
                    <h2 class="toggle show skills {{group.name}}" data-target="#skillgroup-{{n}}">{{localize
                            (concat "SKILL." group.name)}}</h2>
                    <div id="skillgroup-{{n}}" class="float hidden">
                        {{#each group.skills as |skill k|}}
                            {{#with skill}}
                                <div class="inner box skills header">
                                    <h3 class="toggle show" data-target=".skill.{{n}}-{{k}}">{{this}}</h3>
                                    <button class="request-talent-check" data-talent="{{this}}"
                                            title="Probe anfordern">
                                        <i class="fas fa-dice-d20"></i></button>
                                    <select style="width: 70px">
                                        {{skill_options (localize (concat "SKILLdescr." this))}}
                                    </select>
                                    <div class="hidden skill {{n}}-{{k}}">
                                        {{{localize (concat "SKILLdescr." this)}}}
                                    </div>
                                </div>
                            {{/with}}
                        {{/each}}
                    </div>
                </div>
            {{/each}}

        </div>


    {{/if}}
</div>
