<div class="meistertools">
    <div style="text-align: center">
        <button class="parse-scene" {{#unless newDrawings}}disabled{{/unless}}
                title="Zeichnungen in Scene als Karteneinträge interpretieren">
            <i class="fas fa-drafting-compass"></i> Zeichnungen parsen
        </button>

        <button class="remove-new-drawings" {{#unless newDrawings}}disabled{{/unless}}
                title="Zeichnungen in Scene entfernen">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>

    <div class="box float">

        {{#each regionMap}}
            {{#with [1]}}
                <div class="inner box header" style="max-width: 400px; width: 100%">
                    <h2 class="toggle {{#if hidden}}show{{/if}}" data-target=".{{key}}.regions">{{name}}</h2>
                    <!--<div class="top-bar"><a><i class="far fa-eye"></i></a> <a><i class="far fa-eye-slash"></i></a></div>-->
                    <div class="{{key}} regions {{#if hidden}}hidden{{/if}}">

                        <table class="regions">
                            <tr>
                                <th>Name</th>
                                <th style="width: 100px">Zeichnungen</th>
                            </tr>
                            {{#each regions as |region n|}}
                                {{#with region.[1]}}
                                    <tr class="add-drawing" data-label="{{category}}.{{key}}">
                                        <td><h3><b>{{name}}</b><br/><i style="color: gray">{{key}}</i></h3></td>
                                        <td>
                                            {{#each drawings}}
                                                <div class="col-2">
                                                    <div>
                                                        <a class="remove-map-entry" title="Karteneintrag entfernen"
                                                           data-drawing-id="{{_id}}">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        {{#if inScene}}
                                                            <a class="show-drawing" title="Karteneintrag verbergen"
                                                               data-drawing-id="{{_id}}" data-visibility="hidden"><i
                                                                    class="far fa-eye-slash"></i>
                                                            </a>
                                                        {{else}}
                                                            <a class="show-drawing" title="Karteneintrag anzeigen"
                                                               data-drawing-id="{{_id}}" data-visibility="gm-only">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        {{/if}}
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </td>
                                    </tr>
                                {{/with}}
                            {{/each}}
                        </table>
                    </div>
                </div>
            {{/with}}
        {{/each}}
    </div>


    <!--<div class="box header">
        <h2 class="toggle show" data-target=".danger-zone">Danger-Zone!</h2>
        <div class="danger-zone hidden">
            <button class="purge-drawings">Alle Zeichnungen in dieser Szene löschen</button>
            <button class="purge-scene" style="background-color: red">Alle Einträge in dieser Szene löschen</button>
            {{stringify scene.data.flags.dsa5-meistertools}}
        </div>
    </div>-->


</div>

