<form autocomplete="off">
    <nav class="tabs">
        {{#each selectOptions.sceneCollections as |this n|}}
            <a class="set-category {{#ifeq ../activeCollection.collection collection}}active{{/ifeq}}"
               data-collection-index="{{n}}">{{name}}</a>
        {{/each}}
    </nav>

    <div class="box header col-2">
        <h1>Filter</h1>
        <div class="top-bar">
            <a class="clear-filter" title="Filter zurücksetzen">alle anzeigen</a>
        </div>

        <div>
            <div class="form-group">
                <label class="label-text">Suchbegriff</label>
                <input type="text" value="{{filter.keyword}}" name="keyword"/>
            </div>
            <div class="form-group">
                <label class="label-text">Landschafts-Typ <a
                        class="reset-biome"
                        title="Aktuellen Landschafts-Typ verwenden"><i
                        class="fas fa-globe"></i></a></label>
                <select name="biome">
                    {{#select filter.biome}}
                        <option value="">- alle</option>
                        {{#each selectOptions.biomes}}
                            <option value="{{key}}">{{name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="inner box">
            {{#each selectOptions.keywords}}
                <a class="set-keyword" data-keyword="{{this}}">{{this}}</a>
            {{/each}}
        </div>

    </div>

    {{#each scenes}}
        <div class="scene-director box header {{source}}">
            <h2>{{name}}</h2>
            <div class="float">
                {{#each scenes}}
                    {{#with data}}
                        <div class="inner box header">
                            <h3>{{name}}</h3>
                            <figure><img class="scene-thumb" data-scene-id="{{_id}}"
                                         data-scene-source="{{../../source}}"
                                         src="{{img}}" title="Szene '{{name}}' ansehen"/></figure>
                            {{#with flags.dsa5-meistertools}}
                                <hr/>
                                {{#if biome}}
                                    <h3><i class="fas fa-globe"></i> {{biome.name}}</h3>
                                {{/if}}
                                {{#if regions}}
                                    <h3><a class="toggle show" data-target=".region-list-{{../../_id}}"><i
                                            class="fas fa-globe-europe"></i> {{regions.length}} Karteneinträge</a></h3>
                                    <div class="inner box region-list-{{../../_id}} hidden">
                                        {{#each regions}}
                                            <h3><i class="fas fa-globe-europe"></i> "{{region.name}}"</h3>
                                        {{/each}}
                                    </div>
                                {{/if}}
                                {{#if props}}
                                    <div class="inner box">
                                        {{#each props}}
                                            <h3><i class="fas fa-globe-europe"></i></h3>
                                            <pre>{{stringify this}}</pre>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            {{/with}}
                            <div>
                                {{#each flags.dsa5-meistertools.props}}
                                    <h3><i class="fas fa-globe-europe"></i></h3>
                                    <pre>{{stringify this}}</pre>
                                {{/each}}
                            </div>
                        </div>
                    {{/with}}
                {{/each}}
            </div>
        </div>
    {{/each}}

</form>
