<form autocomplete="off">
    <nav class="tabs">
        {{#each selectOptions.sceneCollections as |this n|}}
            <a class="set-category {{#ifeq ../activeCollection.collection collection}}active{{/ifeq}}"
               data-collection-index="{{n}}">{{name}}</a>
        {{/each}}
    </nav>

    <div class="box header col-2">
        <h1>Filter</h1>
        <div class="top-bar">
            <a class="clear-filter" title="Filter zurücksetzen">alle anzeigen</a>
        </div>

        <div>
            <div class="form-group">
                <label class="label-text">Suchbegriff</label>
                <input type="text" value="{{filter.keyword}}" name="keyword"/>
            </div>
            <div class="form-group">
                <label class="label-text">Landschafts-Typ <a
                        class="reset-biome"
                        title="Aktuellen Landschafts-Typ verwenden"><i
                        class="fas fa-globe"></i></a></label>
                <select name="biome">
                    {{#select filter.biome}}
                        <option value="">- alle</option>
                        {{#each selectOptions.biomes}}
                            <option value="{{key}}">{{name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>


            <div class="form-group">
                <label class="label-text">Nur neue Scenen</label>
                <div>
                    <input {{checked filter.onlyNew}}
                            data-dtype="Boolean" class="switch" id="onlyNew"
                            name="onlyNew" type="checkbox"/>
                    <label for="onlyNew"></label>
                    <label for="onlyNew">Nur neue Scenen</label>
                </div>
            </div>


        </div>
        <div class="inner box">
            {{#each selectOptions.keywords}}
                <a class="set-keyword" data-keyword="{{this}}">{{this}}</a>
            {{/each}}
        </div>

    </div>

    <div class="box header">
        <h2>{{#toggle "world-scenes:" _expandedTargets}}In Welt ({{ ../worldScenes.length}}){{/toggle}}</h2>


        {{#collapsible "world-scenes:" _expandedTargets}}
            <div class="float">
                {{#each ../worldScenes}}
                    {{#with data}}
                        <div class="inner box header">
                            <h3>{{name}}</h3>
                            <figure class="scene-thumb"><img class="scene-thumb" data-scene-id="{{_id}}"
                                                             data-scene-source="folder"
                                                             src="{{img}}" title="Szene '{{name}}' ansehen"/></figure>

                            {{#with flags.dsa5-meistertools}}
                                {{#if biome}}
                                    <div class="scene-list biome">
                                        <h3><i class="fas fa-globe"></i> {{biome.name}}</h3>
                                    </div>
                                {{/if}}
                                {{#if regions}}
                                    <hr/>
                                    <h3><a class="toggle show" data-target=".region-list-{{../../_id}}"><i
                                            class="fas fa-globe-europe"></i> {{regions.length}} Karteneinträge</a></h3>
                                    <div class="inner box region-list-{{../../_id}} hidden">
                                        {{#each regions}}
                                            <h3><i class="fas fa-globe-europe"></i> "{{region.name}}"</h3>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            {{/with}}
                        </div>
                    {{/with}}
                {{/each}}
            </div>
        {{/collapsible}}

    </div>

    <div class="box header">
        <h1>Kompendium</h1>
        <div class="float">
            {{#each packScenes}}
                <div class="inner box header {{#if inWorld}}in-world{{/if}}">
                    {{#with data}}
                        <h3>{{name}}</h3>
                        <figure class="scene-thumb">
                            <img class="scene-thumb" data-scene-id="{{_id}}" data-scene-source="pack"
                                 src="{{img}}" title="Szene '{{name}}' ansehen"/>
                        </figure>


                        {{#with flags.dsa5-meistertools}}
                            {{#if biome}}
                                <div class="scene-list biome">
                                    <h3><i class="fas fa-globe"></i> {{biome.name}}</h3>
                                </div>
                            {{/if}}
                            {{#if regions}}
                                <hr/>
                                <h3><a class="toggle show" data-target=".region-list-{{../../_id}}"><i
                                        class="fas fa-globe-europe"></i> {{regions.length}} Karteneinträge</a></h3>
                                <div class="inner box region-list-{{../../_id}} hidden">
                                    {{#each regions}}
                                        <h3><i class="fas fa-globe-europe"></i> "{{region.name}}"</h3>
                                    {{/each}}
                                </div>
                            {{/if}}
                        {{/with}}
                    {{/with}}
                </div>
            {{/each}}
        </div>
    </div>


</form>
